a{
    text-decoration: none;
    color: #333;
}

a:hover{
    text-decoration: underline;
}

h1{
    margin: -2px 0 8px 0;
    font-size: 1.25em;
    color: #666;
}

h3{
    font-size: 1em;
    color: #666;
    margin-bottom: 0;
}

h4{
    font-size: 0.875em;
    color: #333;
    margin-bottom:0;
}

h5{
    font-size: 0.8em;
    color: #333;
    margin-bottom:0;
}
.container_24{
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

#logo, #swirl{
    height: 103px;
}

#swirl{
    background: url('../images/swirl.jpg') no-repeat;
    position: relative;
}

#flags{
    bottom: 5px;
    right: 5px;
    position: absolute;
}

#flags img{
    margin: 3px;
    border: 2px solid #eee;
}

#flags img:hover{
    border: 2px solid #666;
}

#flags img.selected{
    border: 2px solid #666;
}

/*Top Navigation ==================================================== */
#strip{
    background-color: #61809e;
    margin-bottom: 10px;
    height: 32px;

}





/*hero banner */
#hero{
    height: 300px;
    background-color: #fff;
    margin-bottom: 10px;
    overflow: hidden;
}

ul#accordion-slider{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
ul#accordion-slider li{
    display: block;
    overflow: hidden;
    padding: 0;
    float: left;
    width: 185px;
    height: 300px;
}




#footer{
    width: 100%;
    border-top: 1px solid #dadada;
    margin: 10px 0;
    background-color:#f0f0f0;
}

#footer-inner{
    padding: 10px;
    font-size: 12px;
    color: #666;
}

.spacer{ height: 10px; width: 100%;}



#banner{
    width: 100%;
}




/*Left nav */
#left-nav   ul {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.875em;
}


#left-nav   ul a.active-trail{
    font-weight: bold;
}


#left-nav ul li{
    margin: 0 0 10px 0;
    padding: 4px 5px 4px 5px;;
    background: #fff url('../images/bg-left-menu-grey.png') repeat-x;
    list-style-position: inside;
    list-style-image: url('../images/menu-collapsed-grey.png');
}

#left-nav ul li.last{
    margin:0;
}

#left-nav ul li.active, #left-nav ul li:hover{
    background: #666 none;
    list-style-image: url('../images/menu-collapsed.png');
}

#left-nav ul li li{
    background: #666 none;
    margin: 0 0 0 5px;
    
}

#left-nav ul li li:hover{
    text-decoration: underline;
}

#left-nav ul ul{
    display:none;
}


#left-nav a {
    font-weight: normal;
    color: #333;
    text-decoration: none;
}

#left-nav ul li.active a, #left-nav ul li:hover a{
    color: #fff;
}





/*banner */
#banner-image{
    float: left;
    width: 550px;
}

#banner-text{
    float: right;
    width: 160px;
    height: 210px;
    color: #fff;
    background-color: #cb1675;
}

#banner-text h2{
    margin: 0;
    padding: 10px;
    font-size: 1.25em;
    font-weight: normal;
}


/*features */
.feature{
    background-color: #f0f0f0;
    color: #000;
    height: 350px;
    position: relative;
}

.feature h2{
    font-size: 0.925em;
    margin: 10px;
}

.feature p{
    padding: 10px;
    margin: 0;
    display: block;
}

.feature a.text-link{
    background: url('../images/black-arrow.png') no-repeat right;
    padding-right: 12px;
    color: #000;
    position: absolute;
    bottom: 5px;
    left: 10px;
}


/*content */
#content{
    color: #333;
}

#content a{
    color: #e63592;
}

#content h2{
    margin: 0;
}

#content p{
    margin: 10px 0;
}

#content p.lead{
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0;
}



/*blocks */
.block{
    background-color: #ECECEC;
    margin-bottom: 10px;
}

.block h2{
    background: url('../images/block-header.png') repeat-x;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 3px 10px;
    margin: 0;
}

.block-body{
    padding: 5px;
    font-size: 11px;
}

.block-body a{
    background: url('../images/black-arrow.png') no-repeat left;
    padding-left: 7px;
}






.divider{
    margin: 20px 30px;
    border-bottom: 1px solid #dadada;
}

table.contacts, table.partners{
    width: 100%;
    
}

table.contacts td, table.partners td{
    padding: 10px;
    border: 1px solid #dadada;
}

table.partners td{
    vertical-align: middle;
    text-align: center;
}

.image-cell{
    text-align: center;
}

.logo-cell{
    width: 200px;
}


img.logo{
    float:left; margin: 10px 10px 10px 0;
}


img.profile{
    float:left;
    width: 120px;
    padding: 4px;
    border: 1px solid #333;
    margin: 0 5px 5px 0;
}

#content ul li{
    list-style-position:inside;
    font-size: 0.875em;
}


#organo{
    width: 710px;
    height: 675px;
    background: url('../images/organo.png') no-repeat;
    position: relative;
}

#organo a{
    position: absolute;
    width: 100px;
    font-size: 0.7em;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

#organo .link1{
    top:42px;
    left: 300px;
}

#organo .link2{
    top: 238px;
    left: 568px;
}

#organo .link3{
    top: 235px;
    left: 25px;
    color: #fff;
}

#organo .link4{
    top: 560px;
    left: 120px;
    color: #fff;
}

#organo .link5{
    top: 560px;
    left: 466px;
    color: #61809e;
}

#organo .link6{
    top: 340px;
    left: 300px;
    color: #fff;
}