a{
    text-decoration: none;
    color: #333;
}

a:hover{
    text-decoration: underline;
}

h1{
    margin: -2px 0 8px 0;
    font-size: 20px;
    color: #666;
}

.container_24{
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

#logo, #swirl{
    height: 103px;
}

#swirl{
    background: url('../images/swirl.jpg') no-repeat;
    position: relative;
}

#flags{
    bottom: 5px;
    right: 5px;
    position: absolute;
}

#flags img{
    margin: 3px;
    border: 2px solid #eee;
}

#flags img:hover{
    border: 2px solid #666;
}

#flags img.selected{
    border: 2px solid #666;
}

/*Top Navigation ==================================================== */
#nav{
    font-size: 13px;
    background-color: #61809e;
    margin-bottom: 10px;
}

#nav ul{
    list-style-type: none;
}


#nav a{
    color: #fff;
    text-decoration: none;
}

#nav li a{
    padding: 0px 25px;
    margin: 0;    
}


#nav li{
    margin: 0;
    padding:  6px 0;
    float: left;
    border-right: 1px solid #fff;
}

#nav li:hover{
    background-color: #333333;
}



#nav li.active{
    background-color: #cb1675;
}




/*hero banner */
#hero{
    height: 360px;
    position: relative;
    background-color: #333;
}

#hero #hero-image{
    position: absolute;
    top: 0;
    left: 0;
}

#hero #text-box{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: url('../images/blue-opaque.png') repeat;
    color: #fff;
}


#hero #text-box-inner{
    padding: 10px;
}

#hero #text-box-inner p, #hero h2{
    margin: 0;
}

#hero a{
    color: #fff;
    padding-left: 7px;
    background: url('../images/white-arrow.png') no-repeat left;
}

#hero h2{
    font-size: 18px;
}

.button{
    height: 64px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
}

.button a{
    color: #fff;
    display: block;
    padding: 17px 0 0 25px;
    height: 28px;
    background: url('../images/big-arrow.png') no-repeat bottom right;
    width: 180px;
}


.button a:hover{
    text-decoration: none;
}

div.button:hover{
    background: #cb1675 none;
}


/*buttons */
.button-1{
    background: #333 url('../images/button-1.png') repeat-x;
}
.button-2{
    background: #333 url('../images/button-2.png') repeat-x;
}
.button-3{
    background: #333 url('../images/button-3.png') repeat-x;
}
.button-4{
    background: #333 url('../images/button-4.png') repeat-x;
}
.button-5{
    background: #333 url('../images/button-5.png') repeat-x;
}


/*features */
.feature{
    background-color: #f0f0f0;
    color: #000;
    height: 350px;
    position: relative;
}

.feature h2{
    font-size: 14px;
    margin: 10px;
}

.feature p{
    font-size: 12px;
    padding: 10px;
    margin: 0;
    display: block;
}

.feature a.text-link{
    background: url('../images/black-arrow.png') no-repeat right;
    padding-right: 12px;
    color: #000;
    position: absolute;
    bottom: 5px;
    left: 10px;
}


#footer{
    width: 100%;
    border-top: 1px solid #dadada;
    margin: 10px 0;
    background-color:#f0f0f0;
}

#footer-inner{
    padding: 10px;
    font-size: 12px;
    color: #666;
}

.spacer{ height: 10px; width: 100%;}



#banner{
    width: 100%;
}




/*Left nav */
#left-nav   ul {
    padding: 0;
    margin: 0;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}


#left-nav   ul a.active-trail{
    font-weight: bold;
}


#left-nav ul li{
    margin: 0 0 10px 0;
    padding: 4px 5px 4px 5px;;
    background: #fff url('../images/bg-left-menu-grey.png') repeat-x;
    list-style-position: inside;
    list-style-image: url('../images/menu-collapsed-grey.png');
}

#left-nav ul li.last{
    margin:0;
}

#left-nav ul li.active, #left-nav ul li:hover{
    background: #666 none;
    list-style-image: url('../images/menu-collapsed.png');
}


#left-nav a {
    font-weight: normal;
    color: #333;
    text-decoration: none;
}

#left-nav ul li.active a, #left-nav ul li:hover a{
    color: #fff;
}





/*banner */
#banner-image{
    float: left;
    width: 600px;
}

#banner-text{
    float: right;
    width: 150px;
    height: 210px;
    color: #fff;
    background-color: #cb1675;
}

#banner-text h2{
    margin: 0;
    padding: 10px;
    font-size: 20px;
    font-weight: normal;
}


/*content */
#content{
    color: #333;
}

#content a{
    color: #e63592;
}

#content h2{
    margin: 0;
}

#content p{
    margin: 10px 0;
}

#content p.lead{
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0;
}



/*blocks */
.block{
    background-color: #ECECEC;
    margin-bottom: 10px;
}

.block h2{
    background: url('../images/block-header.png') repeat-x;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 3px 10px;
    margin: 0;
}

.block-body{
    padding: 5px;
    font-size: 11px;
}

.block-body a{
    background: url('../images/black-arrow.png') no-repeat left;
padding-left: 7px;
}